[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Cluster.OBeu"]
	path = Cluster.OBeu
	url = https://github.com/okgreece/cluster.obeu
[submodule "DescriptiveStats.OBeu"]
	path = DescriptiveStats.OBeu
	url = https://github.com/okgreece/descriptivestats.obeu
[submodule "gginference"]
	path = gginference
	url = https://github.com/okgreece/gginference
[submodule "TimeSeries.OBeu"]
	path = TimeSeries.OBeu
	url = https://github.com/okgreece/timeseries.obeu
[submodule "TrafficBDE"]
	path = TrafficBDE
	url = https://github.com/okgreece/trafficbde
