[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "Cluster.OBeu"]
	path = Cluster.OBeu
	url = https://github.com/okgreece/cluster.obeu
	shallow = true
	registered = true
[submodule "DescriptiveStats.OBeu"]
	path = DescriptiveStats.OBeu
	url = https://github.com/okgreece/descriptivestats.obeu
	shallow = true
	registered = true
[submodule "gginference"]
	path = gginference
	url = https://github.com/okgreece/gginference
	shallow = true
	registered = true
[submodule "TimeSeries.OBeu"]
	path = TimeSeries.OBeu
	url = https://github.com/okgreece/timeseries.obeu
	shallow = true
	registered = true
